* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: "Inter", sans-serif;
  background: #c0d2d4;
  line-height: 1.666;
  color: #555;
}

h1 {
  font-weight: 900;
  font-size: 500%;
  line-height: 1.2;
  text-align: center;
  margin-top: 4rem;
  color: #fff;
}

h1 span {
  padding: 5px 15px;
  background: #2ec2b0;
}

.dictionary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Quicksand", sans-serif;
}

dt span {
  font-size: 10rem;
}
.term {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  width: 30rem;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

.term span {
  font-size: 2rem;
  color: #2ec2b0;
}

span.emoji {
  font-size: 4rem;
}
